.Offer{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 100%;
 
}
.OfferRight{
  height: 100%;
  width: 50%;

}

.OfferRightImg{
  position: absolute;
  top: -300px; 
  right: 110px;
  height: 800px;
}
@media (max-width: 600px) {
  .Offer{

    position: relative !important;
    display: flex;
    flex-direction: column !important;
    height: 1000px !important;
    width: 100%;
    margin-top: -30px !important;
  }
  .OfferLeft{
    padding-left: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column !important;
    height: 50%!important;
    width: 100%!important;
  }
  .OfferRight{
    height: 50%!important;
    width: 100%!important;
  
  }
  
  .OfferRightImg{
    position: absolute !important;
    top: 450px!important; 
    right: 110px!important;
    height: 500px!important;
  }
}