.ProductDetails{
  padding-top: 20px;
  padding-left: 30px;
  gap: 20px;
display: flex;
flex-direction: column;
width: 70% !important;

}
.ProductDetails p{
  display: inline-block;
}
.qtybtn{
display: flex;
flex-direction: row;

}
.btn{
  padding-left: 30px;
}
@media(max-width:600px){

  .ProductDetails{
    padding-top: 5px !important;
    padding-left: 10px;
    gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  
  }
  .qtybtn{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    }

}