.FSLeft{
  display: flex;
  flex-direction: row;
  justify-content: center;
width: 50%;
}
.FSLeftFilter{
  flex: 1;
  display: flex;
  align-items: center;
}
.FSLeftText{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media(max-width:600px){
  .FSLeft{
    display: flex;
    flex-direction: row;
    justify-content: center;
  width: 100%;
  }
  .FSLeftFilter{
    flex: 1;
    display: flex;
    align-items: center;
  }
  .FSLeftText{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }



}